.settings-container {

    .language-section,
    .baby-info-section {
        margin-bottom: 30px;

        button {
            background-color: #fff;
            border: none;
            padding: 10px 15px;
            margin-right: 10px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
    }

    .baby-info-section {
        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;

            input {
                display: block;
                width: 100%;
                padding: 8px;
                margin-top: 5px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
        }
    }
}